.header-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: flex-start;
    padding-right: calc(15.38461538461538%);
    padding-left: calc(15.38461538461538%);
    background: #0a0a0a;
    border: 2px solid whitesmoke;
    gap: calc(21.07179487179487%);
    padding-top: 24px;
    border-radius: 20px;
  }
  .svg-container {
    display: flex;
    width: 6.153846153846154vw;
    height: 6.153846153846154vw;
    margin-right: 0;
  }
  .svg-container svg {
    width: 100%;
    height: 100%;
  }
